body {
    background: transparent url("../img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-height: 600px;
}

hr {
    display: none;
}

.navbar-inverse .navbar-header span {
    color: rgb(255, 255, 165);
    font-size: 20px;
    font-weight: 200;
}

.weather.visible-xs {
    float: left;
    width: 100%;
}

.weather.visible-xs li {
    float: left;
}
.weather.visible-xs li.text {
    padding-top: 13px;
    font-size: 18px;
}

.weather.visible-xs li.img {
    float: right;
}

@media (max-width: 600px) {
    .weather.visible-xs li.img {
        float: center;
        clear: both;
    }
}

#summary, .weather {
    background-color: white;
}

.weather {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 7px 10px;
}
#summary .data {
    padding: 7px 10px;
    margin-bottom: 20px;
}

.navbar-inverse { background-color: #465B9F; }
.form-group { position: relative; }
.dropdown-menu { top: 35px; left: 0; width: 100%; }
.weather { text-align: center; }
.weather .day { font-size: 22px; }
.weather .date { font-size: 16px; }
.weather .avgTemp { center; font-size: 30px; }
.weather .avgTemp span.big { margin-left: 10px; font-size: 55px; }
.weather .desc { font-size: 20px; }

@media (min-width: 768px){
    .sevencolumns .col-md-2, .sevencolumns .col-sm-2, .sevencolumns .col-lg-2  {
        width: 14.28%;
        *width: 14.28%;
        padding: 5px !important;
    }
}

@media (min-width: 1200px) {
    .sevencolumns .col-md-2, .sevencolumns .col-sm-2, .sevencolumns .col-lg-2 {
        width: 14.28%;
        *width: 14.28%;
        padding: 5px !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .sevencolumns .col-md-2, .sevencolumns .col-sm-2, .sevencolumns .col-lg-2 {
        width: 14.28%;
        *width: 14.28%;
        padding: 5px !important;
    }
}

.weatherBlock.trueFirst { padding-left: 17px !important; }
.weatherBlock.trueLast { padding-right: 17px !important; }

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
